/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el header */
.header {
  position: relative;
  text-align: center;
  width: 1345px;
  height: 500px;
  background-image: url("./multimedia/gato.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; 
  align-items: center; 
  
  /* border: 2px solid red; */
}

/* Estilos para el barra de navegación dentro del header */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  margin-bottom: 25px;
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.navbar ul li a:hover {
  background-color: #007045;
}

.navbar a {
  text-decoration: none;
  color: #46d273;
  font-size: 18px;
}

/* Estilos para el contenido del encabezado */
.header-content {
  text-align: center;
}

.header-content h1 {
  color: #46d273;
  font-size: 50px;
}

.header-content p {
  font-size: 23px;
  margin-top: 10px;
  color: #46d273;
}

.btn-1 {
  display: inline-block;
  padding: 11px 25px;
  font-size: 18px;
  color: #fff;
  background-color: #46d273;
  border-radius: 20px;
  text-decoration: none;
}

.btn-1:hover {
  background-color: #007045;
}


/* Estilos para la sección "Sobre Mí" */
.sobre-mi {
  display: flex;
  align-items: center;
  /* border: 2px solid green; */
  width: 1345px;
  height: 500px;
  justify-content: center; 
  text-align: center; 
}

.sobremi2 {
  display: flex;
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: center; 
  max-width: 100%; 
}

.sobremi2 .titulo {
  font-size: 30px;
  color: #46d273;
  text-align: center; 
  margin: 0;
  width: 100%; 
}

.sobremi2 p {
  font-size: 20px;
  color: #46d273;
  text-align: left;
  margin: 10px; 
  flex: 1; 
  max-width: 70%; 
}

.sobremi2 img {
  max-width: 30%; 
}


/* Estilos para el main y proyectos */


.projects {
  width: 1345px;
  height: 400px;
  /* border: 2px solid blue; */
}

.proyectos-txt h2{
  align-items: center;
  text-align: center;
  color: #46d273;
  font-size: 30px;
}

.proyectos-group{
  display: flex;
  justify-content: space-between;
  margin: 45px 0;
}

.proyecto {
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e); 
  background: linear-gradient(to right, #38ef7d, #11998e);
  padding: 35px 25px;
  margin: 0 10px;
  border-radius: 15px;
}

.proyecto h3{
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

.proyecto img{
  align-items: center;
  
}

.proyecto p{
  font-size: 15px;
  color: #FFF;
  text-align: center;
}

  
  /* Estilos para el footer */
  .footer {
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e); 
    background: linear-gradient(to right, #38ef7d, #11998e);
    color: #fff;
    text-align: center;
    width: 1345px;
    height: 150px;
    /* border: 2px solid yellow; */
  }
  
  .social-container h3 {
    text-align: center;
    font-size: 30px;
  }
  


.contacto-icons a{
  color: #FFFFFF;
  font-size: 30px;
  margin: 20px;
}